Resources:
  AWSEBAutoScalingLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateData:
        ImageId: !Ref AWSEBAmazonLinuxImageId
        InstanceType: !Ref InstanceType
        SecurityGroupIds:
          - !Ref AWSEBSecurityGroup
        UserData:
          Fn::Base64: !Sub |
            #!/bin/bash
            /opt/elasticbeanstalk/bin/get-config --output YAML > /etc/elasticbeanstalk/.aws-eb-stack-parameters.yaml
            /opt/elasticbeanstalk/bin/get-config environment | tee -a /opt/elasticbeanstalk/bin/env > /etc/elasticbeanstalk/.aws-eb-environment-config.yaml
            /opt/elasticbeanstalk/hooks/configdeploy/pre/01_environ.sh
            /opt/elasticbeanstalk/hooks/configdeploy/pre/02_init_cw_agent.sh
            /opt/elasticbeanstalk/hooks/appdeploy/enact/00_reload.sh
            /opt/elasticbeanstalk/hooks/appdeploy/post/02_clean_instance.sh
